:root {
  --primary-bg-color: rgba(43, 43, 43, 1);
  --secondary-bg-color: rgba(59, 59, 59, 1);
  --third-color: rgba(133, 133, 132, 1);
  --primary-text-color: rgba(255, 255, 255, 1);
  --primary-btn-bg-color: rgba(162, 89, 255, 1);

  --space-5: 5px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-15: 15px;
  --space-20: 20px;
  --space-25: 25px;
  --space-30: 30px;
  --space-32: 32px;
  --space-48: 48px;
  --space-50: 50px;
  --space-60: 60px;
  --space-80: 80px;

  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-38: 38px;
  --font-size-67: 67px;

  --primary-border: 20px;
}

/*******************/
/* MAIN WEB STYLES */
/*******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Space Mono', monospace; */
  font-family: "Work Sans", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.header,
.trending,
.creator,
.browse,
.discover,
.how-it-works {
  padding: var(--space-80) 0;
}

.trending-card-main-img,
.mini-grid-img,
.div-img,
.avatar-card,
.browse-card,
.discover-card {
  transition: all 0.3s;
  cursor: pointer;
}

.trending-card-main-img:hover,
.mini-grid-img:hover,
.div-img:hover,
.avatar-card:hover,
.browse-card:hover,
.discover-card:hover {
  transform: scale(0.95);
}

/*******************/
/* GENERAL STYLES */
/*******************/

.container-spacer {
  max-width: 1080px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: var(--space-30);
}

.mini-grid {
  display: grid;
  column-gap: var(--space-15);
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn,
.btn-sec {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border-radius: var(--primary-border);
  color: var(--primary-text-color);
  transition: all 0.3s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: var(--primary-btn-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

.btn-sec {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-btn-bg-color);
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.btn:hover {
  background-color: #412466;
  border-color: #fff;
}

.btn-sec:hover {
  background-color: #fff;
  color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.footer-icon {
  width: 32px;
  height: 32px;
}

.creator-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--space-12);
}

.card-name {
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.sec-heading {
  font-size: var(--font-size-38);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.subheading {
  font-size: var(--font-size-22);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}

.text {
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.smallest-text {
  font-size: var(--font-size-12);
  font-weight: 400;
  font-style: normal;
  line-height: 110%;
}

.btn-img {
  margin-right: var(--space-12);
}

.margin-bottom-lg {
  margin-bottom: var(--space-60);
}

.margin-bottom-sm {
  margin-bottom: var(--space-10);
}

.card-name-margin {
  margin-top: var(--space-15);
  margin-bottom: var(--space-10);
}

.subscribe-btn {
  padding: 0 var(--space-50);
  height: var(--space-60);
  position: absolute;
  right: 0;
}

.subscribe-input {
  padding-top: var(--space-15);
  padding-bottom: var(--space-15);
  padding-left: var(--space-20);
  border-radius: var(--primary-border);
  height: var(--space-60);
  outline: none;
  width: 100%;
  position: absolute;
  border: none;
}

/*******************/
/* TOP SECTION STYLES */
/*******************/

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--space-20) var(--space-50);
}

.main-logo,
.links {
  display: flex;
  align-items: center;
}

.main-text-logo {
  margin-top: var(--space-5);
  margin-left: var(--space-10);
}

.link {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 0 var(--space-20);
  margin-right: var(--space-10);
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary-btn-bg-color);
}

.top-btn {
  padding: var(--space-15) var(--space-30);
}

/*******************/
/* HEADER STYLES */
/*******************/

.header {
  display: flex;
}

.header-inside {
  display: flex;
}

.main-text-header,
.main-img-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-text-header {
  margin-right: var(--space-30);
}

.main-img-bottom {
  background-color: var(--secondary-bg-color);
  width: 100%;
  border-radius: 0px 0px var(--primary-border) var(--primary-border);
  padding: var(--space-20);
}

.main-heading {
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  width: 80%;
  margin-bottom: var(--space-20);

  /* width: 70%; */
}

.sub-size {
  width: 90%;
}

.main-btn {
  padding: var(--space-15) var(--space-50);
  margin: var(--space-30) 0;
}

.results {
  display: flex;
  padding-right: 60px;
}

.result {
  /* max-width: 150px; */
  padding-left: 35px;
  margin-right: 35px;
}

.result:first-child {
  padding-left: 0;
}

.result:last-child {
  margin-right: 0;
}

.result-number {
  font-family: "Space Mono", monospace;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 39.2px */
  text-transform: capitalize;
}

.result-name {
  font-size: var(--font-size-24);
}

.img-subheading {
  font-weight: 600;
}

.main-img-creator {
  display: flex;
  align-items: center;
}

.main-img-astro {
  width: 510px;
  height: 410px;
}

/*******************/
/* TRENDING SECTION STYLES */
/*******************/

.trending-card-main-img {
  width: 100%;
  margin-bottom: var(--space-15);
}

.trending-card {
  display: flex;
  flex-direction: column;
}

.mini-grid-img {
  width: 100%;
}

.div-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-btn-bg-color);
  border-radius: var(--primary-border);
  border: none;
}

.div-img-inside {
  font-family: "Space Mono", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
}

.trending-creator {
  display: flex;
  align-items: center;
}

/*******************/
/* CREATOR SECTION STYLES */
/*******************/

.middle-section-heading {
  display: flex;
  justify-content: space-between;
}

.middle-section-btn {
  display: flex;
  align-items: flex-end;
}

.creator-btn {
  padding: var(--space-15) var(--space-50);
}

.avatar-card {
  text-align: center;
  padding: var(--space-20);
  background-color: var(--secondary-bg-color);
  border-radius: var(--primary-border);
  position: relative;
}

.avatar-img {
  width: 120px;
  height: 120px;
  margin-bottom: var(--space-20);
}

.avatar-price-div {
  margin-top: var(--space-5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-price {
  margin-right: var(--space-10);
  color: var(--third-color);
}

.avatar-price-num {
  font-family: "Space Mono", monospace;
}

.card-number {
  font-family: "Space Mono", monospace;
  position: absolute;
  top: var(--space-20);
  left: var(--space-20);
  width: 30px;
  height: 30px;
  padding: 15px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  border-radius: var(--primary-border);
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-number:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-btn-bg-color);
}

/*******************/
/* BROWSE SECTION STYLES */
/*******************/

.blured-img {
  position: relative;
}

.blur-img {
  width: 100%;
  z-index: -100;
}

.blured-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  border-radius: var(--primary-border) var(--primary-border) 0px 0px;
}

.blur-icon-img {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.browse-card-name {
  padding: var(--space-20) var(--space-30) var(--space-25);
  background-color: var(--secondary-bg-color);
  border-radius: 0px 0px var(--primary-border) var(--primary-border);
}

/*******************/
/* DISCOVER SECTION STYLES */
/*******************/

.discover-img {
  display: flex;
  align-items: flex-end;
}

.discover-image {
  width: 100%;
  height: 100%;
}

.discover-content {
  padding: var(--space-20) var(--space-30) var(--space-25);
  background-color: var(--secondary-bg-color);
  border-radius: 0px 0px var(--primary-border) var(--primary-border);
}

.discover-author {
  display: flex;
  align-items: center;
  margin-top: var(--space-5);
  margin-bottom: var(--space-25);
}

.dicover-creator-name {
  font-family: "Space Mono", monospace;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-name {
  font-family: "Space Mono", monospace;
  color: var(--third-color);
  margin-bottom: 8px;
}

.about-price {
  font-family: "Space Mono", monospace;
}

/*******************/
/* MUSHROOM SECTION STYLES */
/*******************/

.mushroom-img {
  width: 100%;
}

/*******************/
/* HOW IT WORKS SECTION STYLES */
/*******************/

.how-works-content {
  text-align: center;
  padding: var(--space-10) var(--space-30) var(--space-30) var(--space-30);
  background-color: var(--secondary-bg-color);
  border-radius: var(--primary-border);
}

.how-works-img {
  width: 250px;
  height: 250px;
  margin-bottom: var(--space-20);
}

/*******************/
/* SUBSCRIBE STYLES */
/*******************/

.subscribe {
  padding: 40px 0px var(--space-80);
}

.subscribe-content {
  width: 100%;
  padding: var(--space-60);
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  border-radius: var(--primary-border);
}

.subscribe-img {
  width: 425px;
  height: 310px;
  margin-right: var(--space-80);
}

.subscribe-text {
  max-width: 425px;
  padding-top: var(--space-20);
}

.subscribe-form {
  width: 100%;
  position: relative;
}

.subscribe-subheading {
  margin-bottom: 40px;
}

/*******************/
/* FOOTER STYLES */
/*******************/

.footer {
  padding: 40px 0;
  background-color: var(--secondary-bg-color);
}

.footer-text-color {
  color: rgba(204, 204, 204, 1);
}

.primary-footer {
  display: flex;
  padding-bottom: var(--space-30);
  border-bottom: 1px solid var(--third-color);
  /* justify-content: space-between; */
}

.footer-main,
.footer-explore,
.footer-join {
  display: flex;
  flex-direction: column;
}

.footer-main {
  margin-right: 50px;
}

.footer-explore {
  margin-right: auto;
}

.footer-icons {
  display: flex;
}

.footer-logo {
  margin-bottom: var(--space-30);
  padding-right: var(--space-80);
}

.footer-main-subheading {
  margin-bottom: var(--space-20);
  max-width: 238px;
}

.sec-subheading {
  margin-bottom: var(--space-15);
}

.logo-img {
  margin-right: var(--space-10);
}

.logo-img:last-child {
  margin-right: 0;
}

.footer-explore {
  padding: 0 var(--space-25) 0 0;
  max-width: 270px;
}

.footer-explore-heading {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  margin-bottom: var(--space-25);
}

.footer-join-subheading {
  width: 70%;
}

.connect-wallet {
  max-width: 300px;
}

.footer-copyright {
  margin-top: var(--space-20);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web-creator {
  cursor: pointer;
  transition: all 0.3s;
}

.web-creator:hover {
  color: var(--primary-btn-bg-color);
}

/* Created by rezi Karanadze with mentoring Nikoloz Tskhvedadze*/
